<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: #ff4500;
        padding: 10px;
        font-size: 20px;
    }

    .header a {
        color: #ff4500;
        text-decoration: none;
        margin-right: 20px;
    }

    .header h1 {
        margin: 0;
        font-size: 30px;
        font-family: "Open Sans", sans-serif;
    }

    .header button {
        background-color: #ff4500;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
    }

    hr {
        margin: 0;
        border: 1px solid #ff4500;
    }

    .header-right {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .PostCreation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ff4400;
        color: #ffffff;
        padding: 10px;
        font-size: 20px;
    }

    .PostCreation a {
        color: #ffffff;
        text-decoration: none;
        margin-right: 20px;
    }
</style>
<body>
    <div class="header">
        <a href="/">
          <h1>Jeditt</h1>
        </a>
        <div class="header-right">
          <a href="/subs/list">Sub List</a>
          <form method="post" action="/logout">
            <button type="submit">Logout</button>
          </form>
        </div>
        <hr>
      </div>  
    
      <div class="PostCreation">
       <a href="/posts/create" id="createPost">Create a post</a>
       </div>
     
     <h2>Comment:</h2>
     <p>Comment ID: <%= comment.id %></p>
     <p>Comment Text: <%= comment.text %></p>
     <p>Author: <%= comment.author %></p>
     <p>Date: <%= comment.date %></p>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: #ff4500;
        padding: 10px;
        font-size: 20px;
    }

    .header a {
        color: #ff4500;
        text-decoration: none;
        margin-right: 20px;
    }

    .header h1 {
        margin: 0;
        font-size: 30px;
        font-family: "Open Sans", sans-serif;
    }

    .header button {
        background-color: #ff4500;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
    }

    hr {
        margin: 0;
        border: 1px solid #ff4500;
    }

    .header-right {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .PostCreation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #ff4400;
        color: #ffffff;
        padding: 10px;
        font-size: 20px;
    }

    .PostCreation a {
        color: #ffffff;
        text-decoration: none;
        margin-right: 20px;
    }
</style>
<body>
    <div class="header">
        <a href="/">
          <h1>Jeditt</h1>
        </a>
        <div class="header-right">
          <a href="/subs/list">Sub List</a>
          <form method="post" action="/logout">
            <button type="submit">Logout</button>
          </form>
        </div>
        <hr>
      </div>  
    
      <div class="PostCreation">
       <a href="/posts/create" id="createPost">Create a post</a>
       </div>
     
     <h2>Comment:</h2>
     <p>Comment ID: <%= comment.id %></p>
     <p>Comment Text: <%= comment.text %></p>
     <p>Author: <%= comment.author %></p>
     <p>Date: <%= comment.date %></p>
</body>
>>>>>>> 69883fec1c4b1ec0796f0f2c16020019a8e480f4
</html>