<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dashboard</title>
    <link rel="stylesheet" href="/css/global.css">

  </head>
<body>
    <div class="header">
        <div class="logo">
          <img src="/Reddit_Lockup_Logo.svg" alt="Logo">  
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search Reddit...">
        </div>
        <div class="header-right">
            <a href="#">Sign Up</a>
            <button>Log In</button>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <h3>Topics</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Games</a></li>
                <li><a href="#">Movies</a></li>
            </ul>
        </div>

        <div class="content">
            <h2>Posts in the Community</h2>
            <% if (posts.length > 0) { %>
                <ul>
                    <% posts.forEach(post => { %>
                        <li>
                            <a href="/posts/show/<%= post.id %>">
                                <h3><%= post.title %></h3>
                            </a>
                            <a href="<%= post.link %>"><%= post.link %></a>
                            <p><%= post.description %></p>
                            <p>Posted by: <%= post.creator.uname %></p>
                            <% if (post.creator == user.id) { %>
                                <form method="get" action="/editPost/<%= post.id %>">
                                    <button type="submit">Edit</button>
                                </form>
                                <form method="post" action="/deletePost/<%= post.id %>">
                                    <button type="delete">Delete</button>
                                </form>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>No posts have been created yet.</p>
            <% } %>
        </div>
    </div>

    <div class="footer">
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
