<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/css/global.css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
</head>
<body>
    <div class="header">
        <div class="logo">
          <a href="/">
            <img src="/Reddit_Lockup_Logo.svg" alt="Logo" />
          </a>
        </div>
  
        <div class="search-bar">
          <form action="/search" method="get">
            <div class="search-wrapper">
              <i class="fas fa-search search-icon"></i>
              <input type="text" name="query" placeholder="Search Reddit..." />
            </div>
          </form>
        </div>
  
        <div class="header-right">
          <a href="#" class="sign-up-button">Sign Up</a>
          <form method="post" action="/logout">
            <button type="submit" class="logout-button">Logout</button>
          </form>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <h3>Topics</h3>
       
        </div>
        
        <div class="content">
            <div class="post-details">
                <h2>Post Details</h2>
                <h3><%= post.title %></h3>
                <h4><%= post.subgroup %></h4>
                <a href="<%= post.link %>" target="_blank">Visit Link</a>
                <p><%= post.description %></p>
                <p>Posted by: <%= post.creator.uname %></p>

                <div class="post-footer">
                    <div class="post-votes">
                        <button class="vote-button upvote">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        <span class="vote-count"><%= post.votes.length %></span>
                        <button class="vote-button downvote">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </div>

                    <div class="post-actions">
                        <% if (post.creator.id == user.id) { %>
                        <form method="get" action="/editPost/<%= post.id %>">
                          <button type="submit" class="edit-btn">
                            <i class="fas fa-edit"></i> Edit
                          </button>
                        </form>
                        <form method="post" action="/deletePost/<%= post.id %>">
                          <button type="submit" class="delete-btn">
                            <i class="fas fa-trash-alt"></i> Delete
                          </button>
                        </form>
                        <% } %>
                      </div>
                      

                </div>
            </div>

            <div class="comment-section">
                <h4>Comments</h4>
                <ul>
                    <% comments.forEach(comment => { %>
                    <li>
                        <p><%= comment.description %></p>
                        <p>Posted by: <%= comment.creator.uname %> on <%= new Date(comment.timestamp).toLocaleString() %></p>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
